<launch>
  <group ns="prosilica">
    <param name="auto_exposure" type="str" value="True"/>
    <param name="auto_gain" type="str" value="True"/>
    <param name="auto_whitebalance" type="str" value="True"/>
    <param name="frame_id" type="str" value="high_def_optical_frame"/>
    <param name="trigger_mode" type="str" value="streaming"/>
    <param name="ip_address" type="str" value="192.168.0.100"/>
  </group>
  <node name="prosilica" pkg="prosilica_camera" type="prosilica_node" respawn="false" output="screen"/>
  <node ns="camera" pkg="image_proc" type="image_proc" respawn="false" name="prosilica_image_proc"/>
</launch>