<launch>                                                                                                                                                 
   <node name="FRIServer" pkg="ocl" type="deployer-gnulinux" 
   	args=" -s /home/demo/ros/stacks/IDSC-tools/handEyeCalibration/launch/FRIServer.xml --">
   </node>           
</launch>